html {
    scroll-behavior: smooth;
}

body {
    font-family: "DM Mono", Arial, sans-serif;
    font-weight: 500;
    color: white;
    background-color: #122130;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #3a3a3a;
}

::-webkit-scrollbar-thumb {
    background-color: #838383;
    border-radius: 50px;    
}

.navigation-bar {
    background-color: #119ab8;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    position: fixed;
    top: -100px;
    transition: top 0.5s;
    z-index: 100;
}

.navigation-bar a {
    font-size: 18px;
    margin-right: 25px;
    color: rgb(241, 241, 241);
    text-decoration: none;
    transition: color 0.7s;
}

.navigation-bar a:hover {
    color: #3f11b8;
    transition: 0.3s;
    cursor: pointer;
}

.navigation-bar-logo {
    position: absolute; 
    left: 0.5%; 
    width: 45px; 
    height: 45px;
}

@media (max-width: 1000px) {
    .navigation-bar {
        justify-content: space-around;
    }

    .navigation-bar a {
        font-size: 14px;
        margin-right: 0px;
    }

    .navigation-bar-logo {
        opacity: 0;
    }
}

.separator {
    position: relative;
    height: 1.5px;
    width: 100%;
    overflow: hidden;
    
    background: linear-gradient(
        90deg, rgba(233,153,255,1) 0%, rgba(140,162,238,1) 50%, rgba(233,153,255,1) 100%
    );

    background-size: 40%;
    background-position: 0% 0%;
    animation: bar 9s linear infinite;
}

@keyframes bar {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 200% 0%;
    }
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1.25s;
}

.show {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0%);
}

.landing-page {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    height: 1000px;
}

.intro {
    text-align: left;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro h1 {
    font-size: 5rem;
    margin: 0;
}

.intro p {
    font-size: 2rem;
    margin-top: 10px;
}

@media (max-width: 1650px) {
    .intro {
        margin-top: -200px;
    }

    .intro h1 {
        font-size: 3.5rem;
    }
    
    .intro p {
        font-size: 2rem;
    }
}

@media (max-width: 1000px) {
    .intro {
        margin-top: -250px;
    }

    .intro h1 {
        font-size: 3rem;
    }

    .intro p {
        font-size: 1.5rem;
    }
}

.social-links {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links img {
    width: 50px;
    height: 50px;
    margin: 0 15px;
    -webkit-user-drag: none;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
    border-radius: 50%;
}

.about-page {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 1000px; 
}

.about-description {
    width: 50%;
    margin: 0 50px;
}

.about-description h1 {
    font-size: 4rem;
}

.about-description p {
    font-size: 1.5rem;
}

.current-song {
    margin-top: 70px;
    width: 35%;
}

.current-song h1 {
    font-size: 2rem;
}

@media (max-width: 1650px) {
    .about-page {
        flex-direction: column;
    }

    .about-description {
        width: 75%;
    }

    .about-description h1 {
        font-size: 2.5rem;
    }

    .about-description p {
        font-size: 1.5rem;
    }

    .current-song {
        width: 60%;
        margin-top: 60px;
    }

    .current-song h1 {
        font-size: 1.5rem;
    }
}

@media (max-width: 1000px) {
    .about-page {
        flex-direction: column;
    }

    .about-description {
        width: 80%;
    }

    .about-description h1 {
        font-size: 2rem;
    }

    .about-description p {
        font-size: 1rem;
    }

    .current-song {
        width: 90%;
        margin-top: 50px;
    }

    .current-song h1 {
        font-size: 0.85rem;
    }

    .current-song iframe {
        height: 150px;
    }
}

.skills-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 1000px;
}

.skills-description {
    width: 65%;
}

.skills-description h1 {
    font-size: 4rem;
}

.skills-inner {
    display: flex;
    flex-direction: row;
    text-align: center;
    column-gap: 100px;
}

.skills-box {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.skills-box p {
    font-weight: bold;
    font-size: 27px;
}

.skills-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 5px 5px;
}

.skill {
    display: flex;    
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 85px;
}

.skill:nth-child(odd) {
    transition-delay: 300ms;
}

.skill:nth-child(even) {
    transition-delay: 250ms;
}

.skill p {
    width: 125px;
    font-size: 20px;
    background: #119ab8;
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24) ;
}

.skill img {
    width: 60px;
    height: 60px;
    margin-right: 25px;
    background: rgb(139, 139, 139, 0.55);
    padding: 5px;
    border-radius: 15px;
    -webkit-user-drag: none;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24) ;
}

@media (max-width: 1650px) {
    .skills-description {
        width: 95%;
    }

    .skills-description h1 {
        font-size: 3rem;
    }

    .skills-inner {
        column-gap: 40px;
    }

    .skills-title p {
        font-size: 20px;
    }

    .skill p {
        font-size: 17px;
        width: 110px;
    }

    .skill img {
        margin-right: 15px;
    }
}

@media (max-width: 1000px) {
    .skills-page {
        height: 1500px;
    }

    .skills-description {
        width: 95%;
    }

    .skills-description h1 {
        font-size: 2rem;
    }

    .skills-inner {
        flex-direction: column;
    }

    .skills-box p {
        font-size: 17px;
    }

    .skill {
        width: 175px;
    }

    .skill p {
        width: 80px;
        font-size: 12px;
        border-radius: 5px;
        padding: 5px 5px;
    }

    .skill img {
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }
}

.projects-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
}

.projects-description {
    width: 65%;
    height: 900px;
}

.projects-description h1 {
    font-size: 4rem;
    text-align: center;
}

.projects-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 80%;
    overflow: auto;
    row-gap: 0px;
    column-gap: 15px;
    font-size: 20px;
}

.project {
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    height: 300px;
    background-color: #293744;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24) ;
}

.tool-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.project-tool {
    background: #119ab8;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 15px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
}

@media (max-width: 1650px) {
    .projects-description h1 {
        font-size: 3rem;
    }

    .projects-list {
        grid-template-columns: 1fr 1fr;
    }

    .project {
        margin-bottom: 15px;
    }
}

@media (max-width: 1000px) {
    .projects-description {
        width: 75%;
    }

    .projects-description h1 {
        font-size: 2rem;
    }

    .projects-list {
        grid-template-columns: 1fr;
        font-size: 1rem;
        justify-items: center;
    }

    .project {
        width: 75%;
        margin-bottom: 15px;
    }

    .project-tool {
        margin-bottom: 5px;
    }
}

.contact-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
    flex: 1;
}

.contact-page h1 {
    font-size: 4rem; 
}

.contact-description {
    width: 80%;
}

.contact-list {
    margin-top: 75px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;    
}

.contact-list a:nth-child(1) {
    transition-delay: 200ms;
}

.contact-list a:nth-child(2) {
    transition-delay: 400ms;
}

.contact-list a:nth-child(3) {
    transition-delay: 600ms;
}

.contact-list img {
    width: 100px;
    height: 100px;
    margin: 0px 25px;
    -webkit-user-drag: none;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24) ;
    border-radius: 50%;
}

@media (max-width: 1650px) {
    .contact-page h1 {
        font-size: 3rem;
    }

    .contact-list img {
        width: 75px;
        height: 75px;
    }
}

@media (max-width: 1000px) {
    .contact-page h1 {
        font-size: 2.25rem;
    }   

    .contact-list img {
        width: 50px;
        height: 50px;
    }
}

.top-button {
    position: fixed;
    right: 25px;
    bottom: 15px;
    transition: top 0.5s;
    z-index: 100;
}

.top-button:hover {
    cursor: pointer;
}

.hiddenBar {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

.showBar {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s, visibility 0.5s;
}

.top-button img {
    width: 35px;
    height: 35px;
    background-color: #119ab8;
    border-radius: 12px;
    padding: 10px 10px;
    -webkit-user-drag: none;
}

@media (max-width: 1000px) {
    .top-button img {
        width: 25px;
        height: 25px;
    }
}